// This style file contains all the CSS that alters elements inside the React App.

.zip-ai {

	// The Zip AI Data Bar - Set the Background Color from Tailwind.
	&__data-bar {
		width: 100%;
		height: 8px;
		border-radius: 4px;
		overflow: hidden;

		// The Zip AI Data Bar Progression - Set the Background Color from Tailwind.
		&--progress {
			height: 100%;
			border-radius: 4px;
		}
	}
}
