.uagb-template-everything_variations .block-editor-block-variation-picker {

	padding-top: 48px;
	padding-bottom: 48px;

	.components-placeholder__label svg,
	.block-editor-block-variation-picker__skip,
	.block-editor-block-variation-picker__variation-label {
		display: none;
	}
	.components-placeholder__label {
		justify-content: center;
		width: 100%;
		font-weight: 600;
		font-size: 25px;
	}
	.components-placeholder__fieldset {
		text-align: center;
		max-width: 100%;
	}
	.block-editor-block-variation-picker__variations {

		justify-content: center;

		.block-editor-block-variation-picker__variation.components-button {
			border: 1px solid #000000;
			box-shadow: none;
			padding: 20px;
		}

		svg {
			fill: #fff;
		}
	}
}

.uagb-template-everything__wrap > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
	display: block;
}
