.uagb-template-everything__wrap .wp-block-uagb-image .block-editor-media-placeholder {
	text-decoration: none !important;
	line-height: normal;
	letter-spacing: normal;
	text-transform: none;
	font-style: normal;
}
